In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install natasha

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting natasha
  Downloading natasha-1.4.0-py3-none-any.whl (34.4 MB)
     |████████████████████████████████| 34.4 MB 1.3 MB/s
Collecting yargy>=0.14.0
  Downloading yargy-0.15.0-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 170 kB/s
Collecting razdel>=0.5.0
  Downloading razdel-0.5.0-py3-none-any.whl (21 kB)
Collecting slovnet>=0.3.0
  Downloading slovnet-0.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 8.6 MB/s
Collecting ipymarkup>=0.8.0
  Downloading ipymarkup-0.9.0-py3-none-any.whl (14 kB)
Collecting navec>=0.9.0
  Downloading navec-0.10.0-py3-none-any.whl (23 kB)
Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 5.5 MB/s
Collecting intervaltree>=3
  Downloading intervaltree-3.1.0.tar.gz (32 kB)
Requirement already satisfied: sortedcontainers<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from intervaltree>=3->ipymarkup>=0.8.0->natasha) (2.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from navec>=0.9.0->natasha) (1.21.6)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 95.2 MB/s
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Collecting docopt>=0.6
  Downloading docopt-0.6.2.tar.gz (25 kB)
Building wheels for collected packages: intervaltree, docopt
  Building wheel for intervaltree (setup.py) ... done
  Created wheel for intervaltree: filename=intervaltree-3.1.0-py2.py3-none-any.whl size=26119 sha256=9fc4a9b0326c828ae6f1558bf541512eca0db4a1176fdb58f92d2ac24d2fac4f
  Stored in directory: /root/.cache/pip/wheels/16/85/bd/1001cbb46dcfb71c2001cd7401c6fb250392f22a81ce3722f7
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=cab9824f1c8002a14a42d90baa401efdac0b5969f06935ce594b022133c9f487
  Stored in directory: /root/.cache/pip/wheels/72/b0/3f/1d95f96ff986c7dfffe46ce2be4062f38ebd04b506c77c81b9
Successfully built intervaltree docopt
Installing collected packages: pymorphy2-dicts-ru, docopt, dawg-python, razdel, pymorphy2, navec, intervaltree, yargy, slovnet, ipymarkup, natasha
  Attempting uninstall: intervaltree
    Found existing installation: intervaltree 2.1.0
    Uninstalling intervaltree-2.1.0:
      Successfully uninstalled intervaltree-2.1.0
Successfully installed dawg-python-0.7.2 docopt-0.6.2 intervaltree-3.1.0 ipymarkup-0.9.0 natasha-1.4.0 navec-0.10.0 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844 razdel-0.5.0 slovnet-0.5.0 yargy-0.15.0

In [ ]:
import pandas as pd
import string
import re
from statistics import mode
import numpy as np
import nltk
from nltk.corpus import stopwords
from natasha import MorphVocab

# Стоп-слова: Расширенный список

In [ ]:
nltk.download('stopwords')
sw = stopwords.words('russian')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
a = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/stop_words/стоп-слова.txt')
add_stop_words = [i for i in a['STOPWORDS_RUS'] if i not in sw]
sw = sw + add_stop_words
len(sw)

649

In [ ]:
# import csv
  
# with open('/content/drive/MyDrive/Russian_news_project/стоп-слова.txt', 'w') as fp:
#   for i in sw:
#     fp.write("%s\n" % i)

# Превращаем .json в DataFrame

In [ ]:
def create_df(path_to_json):
  df = pd.read_json(path_to_json).drop(['id', 'type'], axis=1)
  df['Text'] = [i['text'] for i in df['messages']]
  df['Date'] = [i['date'].split('T')[0] for i in df['messages']]
  df.drop(['messages'], axis=1, inplace=True)
  df['text'] = [str(i) for i in df['Text']]
  df = df.drop(columns = ['Text'])
  return df

In [ ]:
df_Meduza = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/Meduza_21_22.json')

In [ ]:
df_Readovka = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/Readovka_21-22.json')

In [ ]:
df_RIA = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/RIA_21-22.json')

In [ ]:
df_Baza = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/Baza_21-22.json')

In [ ]:
df_Mash = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/Mash_21-22.json')

In [ ]:
df_Ostorozhno = create_df('/content/drive/MyDrive/Russian_news_project/final_project/json/Ostorozhno_21-22.json')

# Складываем датасет

In [ ]:
df_Meduza.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Meduza.csv')

In [ ]:
df_RIA.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/RIA.csv')

In [ ]:
df_Readovka.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Readovka.csv')

In [ ]:
df_Baza.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Baza.csv')

In [ ]:
df_Mash.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Mash.csv')

In [ ]:
df_Ostorozhno.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Ostorozhno.csv')

In [ ]:
q = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Mash.csv', index_col=['Unnamed: 0'])
w = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Meduza.csv', index_col=['Unnamed: 0'])
r = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Readovka.csv', index_col=['Unnamed: 0'])
t = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Ostorozhno.csv', index_col=['Unnamed: 0'])
y = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/Baza.csv', index_col=['Unnamed: 0'])
e = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/RIA.csv', index_col=['Unnamed: 0'])
dataset = pd.concat([q, w, e, r, t, y]).reset_index(drop=True)

In [ ]:
dataset_original = pd.concat([q, w, e, r, t, y]).reset_index(drop=True) #датасет без предобработки

In [ ]:
dataset.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/TG_24.08.csv')

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/TG_24.08.csv', index_col=['Unnamed: 0'])

In [ ]:
dataset

        name        Date                                               text
0       Mash  2021-07-01  В Москве с 1 июля начинается ревакцинация от к...
1       Mash  2021-07-01  Человек своим телом закрыл старого друга семьи...
2       Mash  2021-07-01  Данные по коронавирусу за прошедшие сутки: 23 ...
3       Mash  2021-07-01  "Яша-артиллерист" со вчерашней прямой линии жа...
4       Mash  2021-07-01  В Москве врачи спасли жизнь 67-летней женщине....
...      ...         ...                                                ...
122129  Baza  2022-06-30  В Якутске трое мужчин попытались спасти ребенк...
122130  Baza  2022-06-30  С московских причалов начали убирать зазывал. ...
122131  Baza  2022-06-30  Девушка из Москвы перевела 30 миллионов рублей...
122132  Baza  2022-06-30                                                NaN
122133  Baza  2022-06-30  [{'type': 'italic', 'text': '«Сидим мы с братв...

[122134 rows x 3 columns]

In [ ]:
df_new = pd.read_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/df_new_2508.csv',index_col=['Unnamed: 0'])

# Очищаем текст

### Функция очиски

In [ ]:
def clean_text(your_df):
  your_df = your_df.map(lambda x: re.sub(r"(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)", " ", x))
  your_df = your_df.map(lambda x: re.sub(r"\W+", " ", x))
  your_df = your_df.map(lambda x: re.sub(r"type|bold|text|_link|xa0|link|href|italic|^\s+|\s+$|", "", x))
  your_df = your_df.map(lambda x: re.sub(r" n", " ", x))
  your_df = your_df.map(lambda x: re.sub(r"\s+", " ", x))
  your_df = your_df.map(lambda x: re.sub(r" \d+", "", x))
  your_df = [np.nan if len(i) == 0 else i for i in your_df]
  return your_df

In [ ]:
def krasivi_text(your_df):
  your_df = your_df.map(lambda x: re.sub(r"type|bold|text|_link|xa0|link|href|italic|^\s+|\s+$|", "", x))
  your_df = your_df.map(lambda x: x.replace('\\n\\n', " "))
  your_df = your_df.map(lambda x: x.replace('\n\n', " "))
  your_df = your_df.map(lambda x: x.replace('\n', " "))
  your_df = your_df.map(lambda x: re.sub(r"(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)", " ", x))
  your_df = your_df.map(lambda x: x.replace("[{'': ''", ""))
  your_df = your_df.map(lambda x: x.replace("'': ''}]", ""))
  your_df = your_df.map(lambda x: x.replace(" , ': ''", ""))
  your_df = your_df.map(lambda x: x.replace("' , ': ''", ""))
  your_df = your_df.map(lambda x: x.replace("['", ""))
  your_df = your_df.map(lambda x: x.replace("']", ""))
  your_df = your_df.map(lambda x: x.replace("'}", ""))
  your_df = your_df.map(lambda x: x.replace("{'", ""))
  return your_df

In [ ]:
dataset = dataset.dropna(axis=0)

In [ ]:
df_new["krasivi_text"] = krasivi_text(df_new["krasivi_text"])

In [ ]:
df_new

,name,Date,text,krasivi_text,organizations,locations,persons,dominant_topic
0,Mash,2021-07-01,Человек своим телом закрыл старого друга семьи...,Человек своим телом закрыл старого друга семьи...,[],[],[],2
1,Mash,2021-07-01,Данные коронавирусу прошедшие новых случая За ...,Данные по коронавирусу за прошедшие сутки: 23 ...,[],"['Москва', 'Подмосковье']",[],4
2,Mash,2021-07-01,Яша артиллерист вчерашней прямой линии жаловал...,"""Яша-артиллерист"" со вчерашней прямой линии жа...","['Яша-артиллерист', 'СУЭНКО']","['Тюменская область', 'Демьянка']","['Тарлан Тагиров', 'Яши-артиллериста', 'Тагиров']",3
3,Mash,2021-07-01,В Москве врачи спасли летней женщине Два часа ...,В Москве врачи спасли жизнь 67-летней женщине....,[],['Москва'],[],2
4,Mash,2021-07-01,Мы подумали В ресторане Якутске ребёнку налили...,"""Мы подумали, что это вода"" , 'В ресторане в Я...",['Чочур Муран'],['Якутск'],[],0
...,...,...,...,...,...,...,...,...
102806,Baza,2022-06-30,Галочка фейков ВКонтакте тестирует процедуру д...,Галочка против фейков. «ВКонтакте» тестирует п...,['ВКонтакте'],[],[],3
102807,Baza,2022-06-30,В Якутске трое мужчин попытались спасти ребенк...,В Якутске трое мужчин попытались спасти ребенк...,[],['Якутск'],[],2
102808,Baza,2022-06-30,С московских причалов начали убирать зазывал В...,С московских причалов начали убирать зазывал. ...,['Центр организация дорожное движение'],['Москве-реке'],[],3
102809,Baza,2022-06-30,Девушка Москвы перевела рублей мошенникам публ...,Девушка из Москвы перевела 30 миллионов рублей...,['Ватсап'],"['Москва', 'Одинцово']","['Даниэла', 'Даниэлы']",3
102810,Baza,2022-06-30,Сидим братвами б ь обсуждаем русских очкуете ж...,"«Сидим мы с братвами, б***ь, обсуждаем вас, ру...",[],['Сургут'],"['Раи', 'Рай Мамедов']",3

In [ ]:
dataset = dataset.dropna(axis=0)
dataset["text"] = clean_text(dataset["text"])

### Удаляем дисклеймеры из Медузы

In [ ]:
dataset = dataset.dropna(axis=0)
inagent = "ДАННОЕ СООБЩЕНИЕ МАТЕРИАЛ СОЗДАНО И ИЛИ РАСПРОСТРАНЕНО ИНОСТРАННЫМ СРЕДСТВОМ МАССОВОЙ ИНФОРМАЦИИ ВЫПОЛНЯЮЩИМ ФУНКЦИИ ИНОСТРАННОГО АГЕНТА И ИЛИ РОССИЙСКИМ ЮРИДИЧЕСКИМ ЛИЦОМ ВЫПОЛНЯЮЩИМ ФУНКЦИИ ИНОСТРАННОГО АГЕНТА"
disclaimer = "Во время войны невозможно оперативно проверить информацию, которую распространяют официальные представители сторон конфликта"
dataset["text"] = dataset["text"].map(lambda x: x.replace(inagent, ""))
dataset["text"] = dataset["text"].map(lambda x: x.replace(disclaimer, ""))
dataset = dataset.dropna(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### Удаляем строки короче 10 слов

In [ ]:
dataset["text"] = [np.nan if len(i.split()) <= 10 else i for i in dataset["text"]]

In [ ]:
dataset = dataset.dropna(axis=0)

### Удаляем стоп-слова

In [ ]:
dataset["text"] = [" ".join([word for word in indent.split() if word not in sw]) for indent in dataset["text"]]

### Проверяем результат

In [ ]:
print("БЫЛО:","\n\n", dataset_original["text"][63], "\n\n", "СТАЛО:","\n\n", dataset["text"][63])

БЫЛО:

 ['Генерал филиппинских ВС Сирилито Собехана заявил, что после крушения военного самолёта на острове Джоло удалось спасти около 40 человек. Причиной падения он назвал то, что Lockheed C-130 Hercules не попал на взлётно-посадочную полосу.\n\n', {'type': 'bold', 'text': 'UPD:'}, ' Как сообщают местные СМИ, на борту было 92 человека, погибли не менее 17.']

 СТАЛО:

 Генерал филиппинских ВС Сирилито Собехана заявил крушения военного самолёта острове Джоло удалось спасти Причиной падения назвал Lockheed C Hercules попал взлётно посадочную полосу UPD Как сообщают местные СМИ борту человека погибли

In [ ]:
def about_df(df):
  print("Пропущенные значения:\n", df.isnull().sum(), "\n")
  print("Средняя количество знаков в строке (мода):", df["text"].apply(len).mode(1), "\n")
  print("Максимальное количество знаков в строке:", df["text"].apply(len).max(), "\n")
  print("Минимальное количество знаков в строке:", df["text"].apply(len).min(), "\n")
  count = df["text"].str.split().str.len()
  print("Среднее количество слов в строке:", count.mode(), "\n")
  print("Минимальное количество слов в строке:", count.min(), "\n")
  print("Максимальное количество слов в строке:", count.max(), "\n")
  return print("success!")

In [ ]:
about_df(dataset)

Пропущенные значения:
 name            0
Date            0
text            0
krasivi_text    0
dtype: int64

Средняя количество знаков в строке (мода): 0    94
dtype: int64

Максимальное количество знаков в строке: 3399

Минимальное количество знаков в строке: 20

Среднее количество слов в строке: 0    11
dtype: int64

Минимальное количество слов в строке: 3

Максимальное количество слов в строке: 415

success!

In [ ]:
dataset.reset_index(drop=True, inplace=True)

In [ ]:
dataset

,name,Date,text,krasivi_text
0,Mash,2021-07-01,Человек своим телом закрыл старого друга семьи...,Человек своим телом закрыл старого друга семьи...
1,Mash,2021-07-01,Данные коронавирусу прошедшие новых случая За ...,Данные по коронавирусу за прошедшие сутки: 23 ...
2,Mash,2021-07-01,Яша артиллерист вчерашней прямой линии жаловал...,"""Яша-артиллерист"" со вчерашней прямой линии жа..."
3,Mash,2021-07-01,В Москве врачи спасли летней женщине Два часа ...,В Москве врачи спасли жизнь 67-летней женщине....
4,Mash,2021-07-01,Мы подумали В ресторане Якутске ребёнку налили...,"""Мы подумали, что это вода"" , 'В ресторане в Я..."
...,...,...,...,...
102806,Baza,2022-06-30,Галочка фейков ВКонтакте тестирует процедуру д...,Галочка против фейков. «ВКонтакте» тестирует п...
102807,Baza,2022-06-30,В Якутске трое мужчин попытались спасти ребенк...,В Якутске трое мужчин попытались спасти ребенк...
102808,Baza,2022-06-30,С московских причалов начали убирать зазывал В...,С московских причалов начали убирать зазывал. ...
102809,Baza,2022-06-30,Девушка Москвы перевела рублей мошенникам публ...,Девушка из Москвы перевела 30 миллионов рублей...
102810,Baza,2022-06-30,Сидим братвами б ь обсуждаем русских очкуете ж...,"«Сидим мы с братвами, б***ь, обсуждаем вас, ру..."

In [ ]:
dataset.to_csv('/content/drive/MyDrive/Russian_news_project/final_project/csv/TG_2508.csv')